*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font_body: 'DM Sans', sans-serif;
  --font_title: 'DM Sans', sans-serif;
  --title-color: #0132D7;
  --white: #FFFFFF;
  --gary: #2B2B2B;
}
body {
  font-size: 16px;
  font-family: var(--font_body);
  background-color: #FCFEFE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font_title);
}
h1 {
  font-size: 72px;
  line-height: 75px;
  background: linear-gradient(106.72deg, #0132D7 9.85%, #6AE2E1 114.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 56px;
  line-height: 72.91px;
}

h3 {
  font-size: 40px;
  line-height: 52.08px;
}

h4 {
  font-size: 24px;
  line-height: 31px;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
 letter-spacing: -0.05em;
}

h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
a {
  /* color: var(--secondary_color); */
}

a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 none;
}
ul{
  padding: 0;
  list-style: outside none none;
}
li{
  list-style: none;
}
button {
  cursor: pointer;
}

svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  overflow: hidden;
}
/*========================================================================
1. Header
=========================================================================*/
.header1 {
width: 100%;
}

.header1 ul {
margin: 0;
padding: 0;
}

.header1 .navbar-content {
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px 0;
}
.header-action-items{
align-items: center;
}
.nav-btn{
margin-right: 30px;
}
.header1 .sidemenu-btn {
  width: 48px;
}
.lose-icon{
  position: absolute;
  top: 0;
}

.header1 .sidemenu-btn i {
display: block;
font-size: 43px;
transition: .3s;
}
@media only screen and (max-width: 570px) {

.site-branding{
  width: 119px; 
}
.nav-btn .btn{
  padding: 6px 30px ; 
  border-radius: 20px ; 
}
.header1 .sidemenu-btn {
  gap: 5px;
}
.header1 .sidemenu-btn span{
  width: 25px;
}
}
/*  */
/* mobail menu */

.mobail-menu{
  width: 470px;
  display: none;
  right: 0;
  top: 95px;
  position: absolute;
  background-color: #ffffff;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
.show{
  display: block;
}
.mobail-menu-content{
  margin: 6px 0 90px 80px;
}
.mobail-nav-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.mobail-menu-list{
  margin-bottom: 35px;
}
.mobail-nav-item li{
  padding: 6px 0;
  
}
.mobail-nav-item li a{
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
.mobail-nav-item li a:hover{
  opacity: 0.5;
}
.mobail-btn{
  background: none;
  color: var(--title-color);
  border-radius: 1px solid var(--title-color);
}
@media only screen and (max-width: 570px) {
  .mobail-menu{
    width: 390px;
  }
}

/* mobail menu */

/* hero start */
.banner{
  margin-bottom: 89px;
}
.hero-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.enty-title{
  margin-bottom: 35px;
}
.home-enty-title{
  background: linear-gradient(106.72deg, #0132D7 9.85%, #6AE2E1 114.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enty-subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2B2B2B;
}
.hero-input-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.hero-form-label{
  color: var(--gary);
  margin-top: 4px;
}
.hero-input{
  border: 1px solid #D9E9E5;
  border-radius: 5px;
  margin-right: 20px;
}
.btn{
  padding: 8px 45px;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  color: #FFFFFF;
  line-height: 21px;
  text-align: center;
  background: var(--title-color);
  border-radius: 3px;
}
.btn:hover{
  background-color: #E5E5E5;
  color: var(--title-color);
}
.enty-subtitle2{
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #2B2B2B;
  margin-bottom: 30px;
}
.hero-socail-link li a{
  color: #2B2B2B;

}
.link_name{
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  margin: 6px;
  color: #2B2B2B;
}
.google-play{
  margin-left: 6px;
}

.hero-content{
  display: flex;
}

.hero-right .hero-img {
  transform: translateX(15%);
}
@media only screen and (max-width: 992px) {
  
  .enty-title{
    font-size: 56px;
    line-height: 62px;
    letter-spacing: -0.05em;
    margin: 0;
  }
  .enty-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  
}
@media only screen and (max-width: 570px) {
  .banner{
    margin-bottom: 65px;
  }
  .h-btn{
    width: 100%;
  }
  .enty-title{
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -5% !important;
    margin: 0;
  }
  .enty-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  .hero-form{
    margin-bottom: 10px;
  }
  
  .hero-input-content{
    flex-direction: column;
  }
  
}
.hero-m-content{
  height: fit-content;
}

@media only screen and (min-width: 991px) {
.hero-m-content-r{
  margin-top: -60px;
}
.hero-m-content-pb{
  margin-top: -1px ;

}
.hero-m-content-remittence{
  margin-top: -40px;
}
.hero-m-content-bill-pay{
  margin-top: -230px;
}
.hero-m-content-air-time{
  margin-top: -155px;
}
.hero-m-content-merchants{
  margin-top: -190px;
}
.hero-m-content-agents{
  margin-top: -55px;
}
}
@media only screen and (min-width: 1200px) {
.hero-m-content-r{
  margin-top: -180px ;
}
.hero-m-content-pb{
  margin-top: -90px;

}
.hero-m-content-card{
  margin-top: -105px;
}
.hero-m-content-remittence{
  margin-top: -55px;
}
.hero-m-content-bill-pay{
  margin-top: -316px;
}
.hero-m-content-air-time{
  margin-top: -335px;
}
.hero-m-content-merchants{
  margin-top: -290px;
}
.hero-m-content-agents{
  margin-top: -145px;
}
}
 @media only screen and (min-width: 1400px) {
    .hero-m-content-r{
      margin-top: -380px ;
    
    }
    .hero-m-content-pb{
      margin-top: -165px ;
    
    }
    .hero-m-content-card{
      margin-top: -165px ;
    
    }
    .hero-m-content-remittence{
      margin-top: -50px;
    }
    .hero-m-content-bill-pay{
      margin-top: -316px;
    }
    .hero-m-content-merchants{
      margin-top: -470px;
    }
  }

/* servive start */
.service{
  margin-bottom: 50px;
}
.service-title{
  text-align: center;
  margin-bottom: 72px;
  color: var(--title-color);
}
.service-details{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-gap: 21px;
  justify-content: space-around;
}
.service-item a{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-img{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
@media only screen and (max-width: 570px) {
  .service-title{
    font-size: 24px;
    line-height: 31px;
  }
}
/* servive end */
/* futures start */
.futures-1{
  background: var(--title-color);
  padding: 44px 0 90px 0;
  margin-bottom: 6.25rem;
}
.futures-title{
  color: #FFFFFF;
  letter-spacing: -0.05em;
  margin: 0 0 32px 0;
}
.futures-title-r{
  width: 90%;
}
.futuer-text{
  width: 75%;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--white);
  margin: 65px 0 45px 0;
}
.futures-btn{
  background: #6AE2E1;
  color: var(--title-color);
  border-radius: 3px;
}
@media only screen and (max-width: 992px) {
  .futures-title{
    font-size: 32px;
    line-height: 46px;
  }
  .futuer-text{
    width: 94%;
  }
  .futures-1-left{
    margin-bottom: 59px;
  }
}
@media only screen and (max-width: 570px) {
  .futures-1{
    margin-bottom: 30px;
  }
  .futures-1-left{
    margin-bottom: 59px;
  }
  .futuer-text{
    width: 100%;
  }
  .futures-btn{
    width: 100%;
  }
}
/* futures end */
/* futures2 start */
.futures-2{
    background-image: url(/assets/image/bg/Flow\ 2_1\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 93px;
    margin-bottom: 9rem;
  }
.futures-2-content{
  padding-bottom: 9rem;
  justify-content: space-between;
}
  .futures2-title{
    color: var(--title-color);
  }
  .futures-2-text h4{
    color: var(--title-color);
  }
  .futures-2-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #292929;
  }
  .f-right-content{
    display: flex;
    align-items: center;
  }
  .fu-img{
    margin-bottom: 0;
    margin-right: 30px;
  }
  @media only screen and (max-width: 992px) {
    .futures-2{
      background-image: none;
      margin-bottom: 3.125rem;
    }
    .futures-2-content{
      padding-bottom: 0;
    }
    
  }
  @media only screen and (max-width: 570px) {
    .futures-2{
      margin-bottom: 3.125rem;
    }
    .futures2-title{
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      margin: 30px 0 20px 0;
    }
    
  }
  /* futures2 end */
  
  /* famapay details start */
  .famapay-details{
    margin-bottom: 13.56rem;
  }
  .famapay-title{
    color: var(--title-color);
  }
  .famapay-text{
    width: 75%;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px; 
    color: #585858;
  }
  .fama-img-lg{
    display: none;
  }
  @media only screen and (max-width: 992px) {
    .famapay-details{
      margin-bottom: 4rem;
    }
    .famapay-text{
      width: 100%;
      padding: 25px 0 50px 0;
    }
    .fama-img-lg{
      width: 100%;
      display: block;
      
    }
    .fama-img-sm{
      display: none;
    }
  }
  @media only screen and (max-width: 570px) {
    .famapay-title{
      font-weight: 500;
      font-size: 36px;
      line-height: 47px;
      margin-bottom: 25px;
    }
    .fama-img-lg{
      display: block;
    }
    .fama-img-sm{
      display: none;
    }
  }
/* famapay details end */
/* <!-- you-send start --> */
.send{
  background: url(../image/bg/send.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 710px;
  position: relative;
  margin-bottom: 6rem;
  
}
.send-content{
  position: absolute;
  width: 280px;
  height: 258px;
  right: 17%;
  bottom: 0;
  background: var(--title-color);
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  transform: translateY(15%);
}
.send-content{
  padding: 26px 40px;
  color: #ffffff;
}
.price-symble{
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.05em;

}
.price{
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: -0.05em;
}
@media only screen and (max-width: 570px) {
  .send{
    height: 450px;
    margin-bottom: 10.25rem;
  }
  .send-content{
    width: 230px;
    height: 209px;
    padding: 15px 25px;
    transform: translateY(50%);
    right: 5%;
  }
  .price-symble{
    width: 29px;
    height: 34px;
  }
  .price{
    font-size: 56px;
    line-height: 73px;
  }
}
/* <!-- you-send end --> */

/* work  */
.work-bg{
  background-image: url(/assets/image/bg/work-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: translateY(-31%);  */
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -99999999;
  top: -30%;
}
  /* position: relative; */
.work .img-fluid{
  z-index: 5;
}

.work{
  margin-bottom: 100px;
}
.work-content{
  display:flex;
  flex-direction:column;
  justify-content:center
}
.security-content{
  text-align: center;
}
.security-title{
  color: var(--title-color);
}
.security-subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--gary);
  padding: 1rem 0;

}
@media only screen and (max-width: 992px) {
  .famapay-title{
    font-size: 40px;
    line-height: 56px;
  }
  .famapay-text{
    font-size: 18px;
    line-height: 24px;
  }
}
  @media only screen and (max-width: 570px) {
    .famapay-title{
      margin-bottom: 15px;
    }
    .famapay-text{
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
    }
    .work{
      margin-bottom: 65px;
    }
    .discover{
      margin-bottom: 65px;
    }
  }
/* work  */
/* discover */
.discover{
  margin-bottom:81px;
}
.discover-content{
  text-align: center;
}
.dis-title{
  letter-spacing: -0.05em;
  color: var(--title-color);
}
.discover-content .dis-img{
  width: 100%;
}
.dis-subtitle{
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: var(--gary);
  margin: 28px 0 37px 0;
}
@media only screen and (max-width: 570px) {
  .dis-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -0.05em;
  }
  .dis-subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.05em;
  }
}
/* discover */
/* member */
.member{
  width: 100%;
  height: 558px;
  background-image: url(../image/bg/member.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 65px;
}
.hero-input-content{
  justify-content: center;
}
.form-control{
  width: 480px;
  background: var(--white);
  border: 1px solid #D9E9E5;
  border-radius: 5px;
  margin-right: 20px;
}
.member-content{
  padding-top: 6rem;
}
.member-title{
  margin-bottom: 28px;
}
.form-text{
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .input-form{
    flex-direction: column;
  }
}
@media only screen and (max-width: 570px) {
  .member-title{
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.05em;
  }
  .form-control{
    width: 345px;
    margin: auto;
  }
  
}
/* member */

/* footer */
  .footer-content{
    justify-content: space-between !important;
  }
  .footer-icon{
    margin-bottom: 45px;
  }
  .footer-link{
    padding: 9px 16px;
    color: #000000;
    border: 1px solid var(--gary);
    border-radius: 28px;
    margin-bottom: 20px;
  }
  .footer-icon-list{
    margin-bottom: 40px;
  }
  .footer-link .fa-apple{
    padding-right: 12.9px;
  }
  .footer-nav-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--gary);
  }
  .footer-socail-icon i{
    font-size: 30px;
    padding-right: 10px;
  }
  .footer-socail-icon i:hover{
    opacity: 0.5;
  }
  @media only screen and (max-width: 992px) {
    footer-left{
      margin-bottom: 75px;
    }
  }
  @media only screen and (max-width: 768px) {
    .footer-logo{
      flex-direction: column;
    }
    .copy-right{
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.05em;
      color: #585858;
    }
    
  }
  @media only screen and (max-width: 570px) {
    .footer-content {
      margin-left: 25px;
    }
    .footer-b{
      margin-left: 25px;
    }
  }
/* footer */
/* -----------products-banking-page start-------- */
.product-banding-hero{
  justify-content: end;
}
.hero-right .iphone-hero-img{
  transform: translateX(-10%) !important;
}
.page-title{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--title-color);
}
.p-enty-title{
  margin-bottom: 34px;
}
/* product-banking-details */
.product-banking-details{
  background:url(../image/product-banding/p-bg/bg.svg) no-repeat;
  background-position: right top;
  background-color: var(--title-color);
  margin-bottom: 11.81rem;
}

.product-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-title{
  color: var(--white);
  margin-bottom: 2.2rem;
}
.famapay-text-2{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: var(--white);


}
.p-btn{
  background-color: #6AE2E1;
}
@media only screen and (max-width: 992px) {
    .details-title{
      margin-top: 26px;
    }
    .p-btn{
      margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 768px) {
  .details-title{
    font-weight: 500;
      font-size: 36px;
      line-height: 47px;
    }
  .famapay-text-2{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
    }
    .product-btn{
      display: flex;
      justify-content: end;
    }
    .product-banking-details{
      margin-bottom: 3.5rem;
    }
    .product-banking-details{
      background-size: 100% 100%;
    }
    @media only screen and (max-width: 570px) {
      .product-banking-details{
        background-size: 100% 100%;
      }
    }
}
/* saving */
.create-saving{
  background-image: url(../image/bg/Flow\ 2_1\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  margin-bottom: 11.81rem;
}
@media only screen and (max-width: 768px) {
  .create-saving{
    margin-bottom: 5.18rem;
  }
}
/* saving */
/* setup */
.setup{
  margin-bottom: 12.1rem;
}
@media only screen and (max-width: 768px) {
  
  .setup{
    margin-bottom: 3.375rem;
  }
}
/* setup */
/* walletls */
.walletls{
  background-image: url(../image/product-banding/wallets-bg.svg);
  width: 100%;
  height: 681px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.walletls::after{
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--title-color);
  opacity: 0.8;
  position: absolute;
}
.walletls-text{
  margin-top: 15%;
  margin-left: 39%;
  z-index: 1;
}
.walletls-title{
  width: 60%;
  color: #74F581;
}
.walletls-subtitle{
  width: 37%;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
@media only screen and (max-width: 992px) {
  .walletls-text{
    margin-left: 0;
  }
  .walletls-title{
    width: 100%;
  }
  .walletls-subtitle{
    width: 100%;
  }
  
  
}
@media only screen and (max-width: 570px) {
  .walletls{
    height: 602px;
  }
}
/* walletls */
/* product-banking-details */
/* -----------products-banking-page end-------- */

/* -----------card-page start-------- */
@media only screen and (max-width: 570px) {
  .card-enty-subtitle br{
    display: none;
  }
}
/* card */
.card-dabit{
  margin-bottom: 8.37rem;
}
.card-content-title{
  text-align: center;
  color: var(--title-color);
  margin-bottom: 35px;
}
.card{
  background: linear-gradient(106.72deg, #0132D7 9.85%, #6AE2E1 114.53%);
  border-radius: 15px;
  border: none;
}
.card-2{
  background: linear-gradient(167.24deg, #74F581 -60.37%, #01AAED 125.46%);
}
.card-3{
  background: linear-gradient(216.41deg, #6AE2E1 7.8%, #01AAED 98.42%);

}
.card-body{
  /* padding-bottom:  0; */
}
  .card-title{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: var(--white);


}
.card-text{
  width: 64%;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--white);
  margin-bottom: 2.933rem;
  
}
.card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emty-box{
  width: 62.07px;
  height: 22.99px;
  left: 578.99px;
  top: 1115.65px;
  background: var(--white);
  border-radius: 5px;
  
}
.card-bottom-text{
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
  margin: 0;
}
@media only screen and (max-width: 570px) {
  .card-content-title{
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.05em;
  }
  .card-dabit{
    margin-bottom: 5.93rem;
  }
}

/* manage-card */
  .manage-card{
    background:url(../image/product-banding/p-bg/bg.svg) no-repeat;
    background-position: right top;
  }
  .manage-card-title{
    
    color: var(--title-color);
  }
  .manage-card-subtitle{
    width: 60%;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--gary);


  }
  @media only screen and (max-width: 570px) {
    .manage-card{
      background-size: 100% 48%;
    }
    .manage-card-title{
      margin-bottom: 25px;
    }
    .manage-card-subtitle{
      margin-bottom: 29px;
      width: 100%;
    }
  }
/* manage-card */
/* card */
/* -----------card-page end-------- */
/* -----------remittance-page start-------- */
.send-hero-right{
  width: 42%;
}
.send-money-title{
  margin-bottom: 30px;
  background: linear-gradient(167.24deg, #74F581 -60.37%, #01AAED 125.46%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.money-form{
  background-color: var(--title-color);
  border-radius: 14px;
  padding: 40px 48px;
}
.send-card-body{
  padding: 0 0;
}
.input-content{
  width: 100%;
}
.send-money-form{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.form-label{
  color: var(--white);
}
.text-lable{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--white);
}
.number-form{
  width: 93%;
  color: #2B2B2B;
  background: #FFFFFF;
  border: 1px solid #2B2B2B;;
  border-radius: 5px;
}
.money{
  height: 36px;
  color: var(--gary);
  background: var(--white);
  border: 1px solid var(--gary);
  border-radius: 5px;
}
.usd-ret{
  text-align: center;
  color: var(--white);
}
.usd-ret h6{
  color:var(--white)
}
.usd-ret p{
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}
@media only screen and (max-width: 992px) {
  .send-hero-right{
    width: 100%;
    margin-bottom: 27px;
  }
  .hero-m-content-remittence{
    margin-top: 35px !important;
  } 
}
/* choose  */
.choose-famapay{
  background-color: var(--title-color);
}
.choose-title{
  text-align: center;
  color: #74F581;
}
.choose-details{
  justify-content: space-around;
  text-align: center;
  /* gap: 14px; */
}
.choose-img{
  width: 84px;
  height: 97px;
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}
.ch-item-title{
  text-align: center;
  color: var(--white);
  margin-bottom: 15px;
}
.ch-item-subtitle{
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--white);

}
/* choose end */
/* remittence future */
.remittance-future{
  margin: auto;
  flex-direction: column;
  align-items: center;
}
.remittence-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rem-img{
  max-width: 189px;
  width: 100%;
  margin-right: 36px;
}
@media only screen and (max-width: 768px) {
  .remittence-content{
    flex-direction: column;
    align-items: center;
  }
  .rem-img{
    max-width: 259px;
    height: 267px;
    width: 100%;
    margin-bottom: 20px;
  }
  .rem-img img{
    width: 100%;
  }
}
/* remittence future */
/* first-money-transfer */
.first-money-transfer{
  background: #E3FDE6;
}
.f-m-text{
  margin-bottom: 85px;
}
.send-m-c-item{
  justify-content: center;
  gap: 20px;
}
.send-m-c-title{
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 14px;
}
.send-m-c-item-card{
  background-color: var(--white);
}
.send-m-c-subtitle{
  color: var(--gary);
  text-align: center;
}
.send-m-c-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--gary);
}
/* first-money-transfer */
  
/* -----------remittance-page end-------- */
/* -----------bill-pay-page end-------- */
.p-t-bill-pay{
  color: var(--gary);
}
.bill-pay-enty-title{
  background: linear-gradient(167.24deg, #74F581 -60.37%, #01AAED 125.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


}
.hero-form-content-bill-pay{
  justify-content: flex-start !important;
}
/* bills-simplified */
.bills-sim-title{
  color: var(--title-color);
}
.sim-subtitle{
  color: var(--gary);
}
.sim-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #2B2B2B;

}
/* bills-simplified */
/* any-bill start */
.any-bill{
  margin-bottom: 110px;
}
.any-bill-title{
  color: var(--title-color);
  margin-bottom: 22px;
}
.list-group-item{
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
.form-check-input:checked {
  background-color: #0A0D2C;
  border-color: none;
}
.form-check-input:checked[type=checkbox] {
  background-image: none;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background: #E3FDE6;
  border-radius: 14px 0px 0px 0px;
}
.list-group-item .active{
}
.form-check-input[type=checkbox] {
  border-radius: 1.25em;
}
.me-1 {
  margin-right: 1.25rem!important;
}
.iphone-md{
  display: none;
}
@media only screen and (max-width: 992px) {
  .any-bill-title{
    font-size: 46px;
    line-height: 56px;
  }
}
@media only screen and (max-width: 768px) {
  .any-bill-title{
    font-size: 40px;
    line-height: 52px;
  }
  .iphone-lg{
    display: none;
  }
  .iphone-md{
    display: block;
  }
  .any-bill{
    margin-bottom: 14px;
  }
}
/* any-bill end */
/* bill-pay-available */
.pay-bills-member{
  background-image: url(../image/bill-pay/simpliifed/pay-bill-full-img.svg);
  width: 100%;
  height: 681px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media only screen and (max-width: 992px) {
  .pay-bills-member{
    height: 100%;
  }
}

/* bill-pay-available */
/* -----------bill-pay-page end-------- */

/* -----------air-time-page -------- */
  .air-time-hero-img{
    transform: translateX(15%);
  }
  @media only screen and (max-width: 992px) {
    .hero-m-content-air-time{
      margin-top: 0px;
    }
  }
  /* world */
    .world{
      background-color: var(--title-color);
      margin-bottom: 54px;
    }
    .service-item{
      z-index: 1;
    }
    .world-title{
      text-align: center;
      margin-bottom: 24px;
      color: var(--white);
    }
    .world-img{
      width: 73px;
      height: 89px;
      display: flex;
      align-items: center;
    }
    .world-icon-item{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      grid-gap: 14px;
    }
    .world-icon-list{
      display: flex;
      text-align:center;
      margin: auto;
    }
    @media only screen and (max-width: 992px) {
      .world-title{
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        
      }
      
    }
    @media only screen and (max-width: 992px) {
      .world-img{
        width: 43px;
        height: 43px;
      }
    }
  /* world */
  /* world-future */
  .world-future{
    background: url(../image/bg/Flow\ 2_1\ 1.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-bottom: 84px;
  }
  .world-future-content{
    margin: auto;
  }
  .world-future-img{
    display: flex;
    justify-content: end;
  }
  .wold-future-text{
    display: flex;
    align-items: center;
  }
  .world-text{
    width: 40%;
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
    color: var(--title-color);
  }
    @media only screen and (max-width: 768px) {
      .world-future-content{
        flex-direction: column-reverse;
      }
      .world-text{
        width: 100% !important;
      }
    }
  
  /* world-future */
  /* air-card */
  .instand-img{
    margin: 0;
  }
  @media only screen and (max-width: 768px) {
    .instand-img{
      width: 89px;
      height: 106px;
    }
  }

  
  /* air-card */
  /* -----------air-time-page end-------- */


  /* -----------merchants-page start-------- */
  .banner-7{
    background: url(../image/bg/Flow\ 2_1\ 1.png) no-repeat;
   background-size: contain;
    background-position: bottom;
    margin-bottom: 0;
  }
  .merchants-enty-title{
    background: linear-gradient(167.24deg, #74F581 -60.37%, #01AAED 125.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  @media only screen and (max-width: 992px) {
    .banner-7{
      background-position: 0 80%;
    }
  }
  @media only screen and (max-width: 570px) {
    .banner-7{
      background-position: 0 70%;
    }
  }
  /* merchants-details */
  .merchants-details{
    margin-bottom: 66px;
  }
  .merchants-list{
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  /* merchants-details */
  @media only screen and (max-width: 768px) {
    .pro-bis-title{
        font-weight: 500;
        font-size: 36px;
        line-height: 47px;
        letter-spacing: -0.05em;
        text-align: center;
    }
    .pro-bis-subtitle{
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.05em;

    }
  }
  /* -----------merchants-page end-------- */

  /* -----------agents-page start-------- */
    .agents-enty-title{
      background: linear-gradient(106.72deg, #0132D7 9.85%, #6AE2E1 114.53%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
  /* -----------agents-page end-------- */

  